$gray-medium-light: #eaeaea;
$gray-light: #777;
$white: #fff;
$gray: #555;
$gray-darker: #222;
$gray-lighter: #eeeeee;
$red: rgb(255, 0, 0);
$danger-text: #a94442;
$green-light: rgba(18, 206, 162, 0.73);
$blue-light: #2e4ead;
$light-darker: #92a6e2;
$darker: rgba(0, 0, 0, 0.1);
$blue-medium: #4360b5;
$blue-body: #e1ecf2;
$orange-light: rgb(241, 204, 144);
$light-555: #e5e5e5;
$white-111: #e1e1e1;
$gray-666: #666666;
