@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'color';

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// forms
input,
textarea,
select,
.uneditable-input {
  border: 1px solid $gray-light;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

// forms
#error_explanation {
  color: $red;
  ul {
    color: $red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}
#session_remember_me {
  width: auto;
  margin-left: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body {
  background: $blue-body;
}
.wrapper {
  margin: 10px;
  .top_navbar {
    width: calc(100% - 20px);
    height: 60px;
    display: flex;
    position: fixed;
    top: 10px;
    .hamburger {
      width: 70px;
      height: 100%;
      background: $blue-light;
      padding: 15px 17px;
      border-top-left-radius: 20px;
      cursor: pointer;
      div {
        width: 35px;
        height: 4px;
        background: $light-darker;
        margin: 5px 0;
        border-radius: 5px;
      }
    }
    .top_menu {
      width: calc(100% - 70px);
      height: 100%;
      background: $white;
      border-top-right-radius: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      box-shadow: 0 1px 1px $darker;
      .logo {
        color: $blue-light;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 3px;
      }
      ul {
        display: flex;
      }
    }
  }
  .sidebar {
    position: fixed;
    top: 70px;
    left: 10px;
    background: $blue-light;
    width: 200px;
    height: calc(100% - 80px);
    border-bottom-left-radius: 20px;
    transition: all 0.3s ease;
    ul {
      li {
        border-bottom: 1px solid $light-darker;
        .title {
          display: block;
          padding: 20px;
          color: $white;
          position: relative;
          margin-bottom: 1px;
          white-space: nowrap;
          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 3px;
            height: 100%;
            background: $light-darker;
            display: none;
          }
        }
        span.icon {
          margin-left: 5px;
          display: inline-block;
        }
        .title {
          display: inline-block;
          text-decoration: none;
          font-size: 20px;
        }
        &:hover {
          background: $blue-medium;
          color: $white;
          &:before {
            display: block;
          }
        }
      }
    }
  }
}
.wrapper.collapse .sidebar ul li a span.icon {
  margin: 0;
}
.container{
  width: calc(100% - 200px);
  margin-top: 70px;
  margin-left: 200px;
  padding: 15px;
  transition: all 0.3s ease;
}
.main_container {
  width: calc(100% - 70px);
  margin-left: 70px;
}
.main_container .item {
  background: $white;
  margin-bottom: 10px;
  padding: 15px;
  font-size: 14px;
  line-height: 22px;
}

.btn-primary::before {
  font-family: fontAwesome;
  content: '\f067\00a0';
}

button.btn.edit::before {
  font-family: fontAwesome;
  content: '\f044\00a0';
}

button.btn.save::before {
  font-family: fontAwesome;
  content: '\f00c\00a0';
}

button.btn.cancel::before {
  font-family: fontAwesome;
  content: '\f00d\00a0';
}
.btn_wallet {
  float: right;
}
.wallet{
  margin-top: 5em;
  padding-top: 0;
}
.content {
  display: block;
  margin-left: 60px;
  img {
      display: block;
      padding: 5px 0;
  }
}
.wallet_name {
  font-size: 18px;
  font-style: italic;
  margin-right: 10px;
  font-weight: bolder;
}
.wallet_balance{
  font-weight: bold;
  margin-right: 10px;
}
.timestamp {
  font-style: italic;
  color: $blue-light;
}
.wrapper_li {
  font-family: 'Open Sans', sans-serif;
  padding: 50px 10px;
}
.app-wrapper {
  background-color: $white;
  height: 700px;
  max-width: 880px;
  margin: 0 auto;
  border-radius: 8px;
  display: flex;
  -webkit-box-shadow: 0px 8px 24px 4px $orange-light;
  -moz-box-shadow: 0px 8px 24px 4px $orange-light;
  box-shadow: 0px 8px 24px 4px $orange-light;
}
.wallet {
  width: 360px;
  background-color: $gray-lighter;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  padding: 50px;
}
.wallet h2 {
  display:inline-block;
}
.transactions-wrapper {
  width: 520px;
  padding: 50px;
}
.total-balance {
  display: inline-block;
  float: right;
  font-weight: 600;
  font-size: 32px;
  color: #444750;
}
.total-balance::before {
  content: '$';
}
.transactions {
  margin-top: 60px;
  border-top: 1px solid $light-555;
  padding-top: 50px;
  height: 550px;
  overflow: scroll;
}
.transactions::-webkit-scrollbar {
  display: none;
}

/* media queries */
@media(max-width:810px) {
  .wrapper_li {
    border-radius: 8px;
  }
  .wallet {
    width: 100%;
    border-top-right-radius: inherit;
    padding-bottom: 25px;
  }
  .app-wrapper {
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 100%;
    border-top-right-radius: inherit;
    height: initial;
  }
  .transactions {
    height: initial;
  }
}
@media(max-width:530px) {
  h3 {
    line-height: 24px;
  }
  .total-balance {
    font-size: 22px;
  }
}
@media(max-width: 390px) {
  .wallet {
    padding: 50px 25px;
  }
  h2 {
    font: 18px/24px 'Open Sans', sans-serif;
  }
}
