@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'color';

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// forms
input,
textarea,
select,
.uneditable-input {
  border: 1px solid $gray-light;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

// forms
#error_explanation {
  color: $red;
  ul {
    color: $red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}
#session_remember_me {
  width: auto;
  margin-left: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body {
  background: $blue-body;
}
.wrapper {
  margin: 10px;
  .top_navbar {
    width: calc(100% - 20px);
    height: 60px;
    display: flex;
    position: fixed;
    top: 10px;
    .hamburger {
      width: 70px;
      height: 100%;
      background: $blue-light;
      padding: 15px 17px;
      border-top-left-radius: 20px;
      cursor: pointer;
      div {
        width: 35px;
        height: 4px;
        background: $light-darker;
        margin: 5px 0;
        border-radius: 5px;
      }
    }
    .top_menu {
      width: calc(100% - 70px);
      height: 100%;
      background: $white;
      border-top-right-radius: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      box-shadow: 0 1px 1px $darker;
      .logo {
        color: $blue-light;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 3px;
      }
      ul {
        display: flex;
      }
    }
  }
  .btn-inverse {
    display: block;
    margin: 0 10px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid $blue-light;
    border-radius: 50%;
    color: $blue-light;
    &:hover {
      background: $blue-medium;
      color: $white;
      i {
        color: $white;
      }
    }
  }
  .sidebar {
    position: fixed;
    top: 70px;
    left: 10px;
    background: $blue-light;
    width: 200px;
    height: calc(100% - 80px);
    border-bottom-left-radius: 20px;
    transition: all 0.3s ease;
    ul {
      li {
        .title {
          display: block;
          padding: 20px;
          color: $white;
          position: relative;
          color: $light-darker;
          margin-bottom: 1px;
          white-space: nowrap;
          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 3px;
            height: 100%;
            background: $light-darker;
            display: none;
          }
        }
        span.icon {
          margin-right: 10px;
          display: inline-block;
        }
        .title {
          display: inline-block;
        }
        &:hover {
          background: $blue-medium;
          color: $white;
          &:before {
            display: block;
          }
        }
      }
    }
  }
}
.container{
  margin-top: 60px;
}
