$layoutWidth: 980px;
$standardPadding: 20px;
$layoutBorderRadius: 5px;

$sizeDefault: 1em;
$sizeLarge: 1.25em;
$sizeXLarge: 1.5em;
$sizeXXLarge: 2em;

$col1Width: 240px;
$col2Width: 150px;
$col3Width: 190px;
$col4Width: 150px;
$col5Width: 170px;
$col6Width: 30px;

$roboto: 'Roboto',sans-serif;
